:root{
    --shadow: 0px 2px 5px;
    --theme-color: lightblue;
    --theme-bg-color: rgba(255, 255, 255, 0.688);
}

body {
    display: flex;
    background-color:rgb(220, 220, 220);
}

aside {
    width: 30%;
    height: 65%;
    background-color: var(--theme-bg-color);
    padding: 2% 0 2% 2%;
    box-shadow: var(--shadow);
}

aside form * {
    display: block;
    margin-left: 6%;
}

aside form label + input {
    margin-top: 1%;
    margin-bottom: 5%;
    width: 80%;
    padding: 1% 1%;
    border-radius: 5px;
    border: 2px solid lightgray;
}

aside form label + input:focus {
    background-color: var(--theme-color);
}

aside form #btn {
    /* width: 18%; */
    padding: 1% 5%;
}

#btn {
    font-size: x-small;
    font-weight: bold;
    padding: 0.5% 2%;
    height: 10%;
    border-radius: 7px;
    border-color: lightgray;
}

#btn:hover {
    background-color: var(--theme-color);
    cursor: pointer;
}

section {
    width: 70%;
    background-color: var(--theme-bg-color);
    margin-right: 1%;
    padding: 2% 0 0 2%;
    box-shadow: var(--shadow);
    
}

section ul {
    padding-left: 0%;
    height: fit-content;
    max-height: 87.5vh;
    overflow-x: auto;
}

section li {
    list-style: none;
    border: 1px solid lightgrey;
    margin: 0 1% 1.5% 0;
    border-radius: 8px;
}

section li div:first-child  {
    text-align: right;
    display: flex;
}

section li div:first-child input {
    margin: 0.5%;
}

section li div:first-child label {
    flex: 1;
    text-align: left;
    padding: 1% 2%;
}

section li div:first-child:hover {
    background-color: var(--theme-color);
}

section li div:first-child:hover label{
    cursor: pointer;
}

section li div:last-child {
    display: none;
}

section li div:last-child label {
    display: block;
    margin: 1% 0 1% 8%;
}



